@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
.glide__bullet+.glide__bullet {
    margin-left: 10px;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    background: #333;
}

.hooper-navigation [type=button]:not(:disabled) {
    background: transparent;
}

.filter .multiselect .multiselect__tags {
    height: 40px;
    border-radius: 0;
}